/*install css*/
body {
    background: #dfdfdf url(bg_noise.jpg) ;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
#comment{
	font-family:"Microsoft Yahei";
	text-align: center;
	color:#666;
	font-size: 36px;
	position: relative;
    width: 600px;
    margin: 0 auto;
    padding-top: 5%;
	text-align:center;
}
#aboutme{
	text-align:center;
	font-size:10px;
	font-family:"Comic Sans MS", cursive;
}

.menu{
	float:left; 
	width:200px; 
	height:690px; 
	border:2px 
	solid #0000FF;
	text-align:center;
	margin: auto;
}
.content{
	float:left; 
	width:1000px; 
	height:690px; 
	border-right:2px solid #0000FF;
	border-top:2px solid #0000FF; 
	border-bottom:2px solid #0000FF;
}
.top_title{
	font-family: "Microsoft Yahei";
	text-align: left;
	color: #666;
	font-size: 20px;
	width: 1000px;
	margin: auto;
}
