/*install css*/
body {
    background: #dfdfdf url(bg_noise.jpg) ;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
#comment{
	font-family:"Microsoft Yahei";
	text-align: center;
	color:#666;
	font-size: 36px;
	position: relative;
    width: 600px;
    margin: 0 auto;
    padding-top: 5%;
}
#comment p{
	font-family: Helvetica, Arial, sans-serif;
	font-size:20px;
	font-style: italic;
    background-size: cover;
}
#config{
	font-family:"Microsoft Yahei";;
	border: 1px solid #CCC;
	border-radius: 20px;
	padding: 30px 30px;
	width: 600px;
	position: relative;    
	margin: 0 auto;
}
#configform{
	text-align:center;
}
#aboutme{
	text-align:center;
	font-size:10px;
	font-family:"Comic Sans MS", cursive;
}
#submit{
	color:#999;
	font-family:"MS Serif", "New York", serif;
	text-align:center;
}

/*user panel css*/
#user_config{
	text-align:center;
}

.left ul {
 margin:100px;
 list-style:none;
 width:100px;
}/*
a {
 padding:10px 20px;
 background:#000;
 color:#fff;
 text-decoration:none;
 text-transform:capitalize;
 display:block;
}
a:hover {
 background:#ccc;
 color:#fff;
}
